@charset "utf-8";

#id_username {
	width: 250px;
}
#id_password {
	width: 250px;
}
#id_password1 {
	width: 250px;
}
#id_password2 {
	width: 250px;
}
#id_old_password {
	width: 250px;	
}
#id_new_password1 {
	width: 250px;	
}
#id_new_password2 {
	width: 250px;	
}