
{% extends "projects/base.html" %}
{% block content %}

	<style>
		/* bootstrap css fix - begin */
		#ganttChart div,
		#ganttChart div:before,
		#ganttChart div:after {
		-webkit-box-sizing: initial;
		box-sizing: initial;
		}
	</style>

	<div id="ganttChart"></div>
	<br/><br/>
	<div id="eventMessage"></div>

	{% load static %}
	<link rel="stylesheet" href="{% static 'projects/reset.css' %}" />
	<link rel="stylesheet" href="{% static 'projects/lib/jquery.ganttView.css' %}" />	
	<script src="{% static 'projects/lib/jquery.ganttView.js' %}"></script>
	<script src="{% static 'projects/data.js' %}"></script>
	<script>

		scale = "{{ request.session.scale }}";
		size = Number("{{ request.session.size }}");
		tmp = "{{gantt_data}}".split('&#39;').join('"');

		// json -> object
		ganttData = JSON.parse(tmp);

		$(function () {
			$("#ganttChart").ganttView({ 
				scale: scale,
				cellWidth: size,
				data: ganttData,
				slideWidth: document.getElementById('gantt_container').clientWidth - 280,
				behavior: {
					onClick: function (data) {/* イベント発生時の処理 */},
					onResize: function (data) {},
					onDrag: function (data) {}
				}
			});
		});
	</script>
{% endblock %}
